* {
    background-color: rgb(50, 68, 232)!important;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(50, 68, 232);
}

.navbar {
    min-width: 100%;
    background-color: rgb(50, 68, 232);
    height: 80px;
    box-shadow: 2px 2px 12px rgb(255, 86, 83);
    padding: 0px 5%;
}

.navLeft {
    float: left;
}

.navRight {
    float: right;
}

.navRight a, 
.navLeft a  {
    font-family: Monaco;
    /* text-decoration: none; */
    justify-content: space-between;
    color: rgb(255, 86, 83);
    font-size: 15px;
    font-weight: 700;
    margin: 25px;
}

a:hover {
    /* text-decoration: none; */
    color: rgb(255, 255, 255) !important;
    /* margin-bottom: 3px solid #ff7400 */
}

a:active {
    text-decoration: none;
    color: rgb(245, 245, 245);
}

.navbarItem i {
    color: rgb(255, 86, 83);
}

.about {
    background-color: rgb(255, 86, 83);
    opacity: 0.9;
    margin: 8%;
    display: flex;
    flex-flow: column;
    box-shadow: 5px 10px 15px black;
    min-height: 200px;
    border-radius: 8px;
}

.projects {
    background-color: rgb(50, 68, 232);
    opacity: 0.9;
    margin: 3%;
    display: flex;
    flex-flow: column;
    box-shadow: 5px 10px 15px black;
    color: whitesmoke;
    min-height: 200px;
    border-radius: 8px;
}

.contact {
    background-color: rgb(255, 86, 83);
    opacity: 0.9;
    margin: 8%;
    display: flex;
    flex-flow: column;
    box-shadow: 5px 10px 15px black;
    color: whitesmoke;
    min-height: 200px;
    border-radius: 8px;
}

#aboutTitle {
    text-decoration: underline;
    text-decoration-thickness: from-font;
}

#aboutTitle, #projectsTitle,
#contactTitle {
    align-items: center;
    /* display: flex; */
    text-align: center;
    font-family: Monaco;
    color: whitesmoke;
}

#aboutIntro, #projectsIntro,
#contactIntro {
    align-items: center;
    text-align: center;
    font-family: Monaco;
    color: whitesmoke;
    margin-left: 5%;
    margin-right: 5%;
}

#aboutButton, #projectsButton,
#contactButton {
    color: rgb(40, 40, 40);
    font-family: Monaco;
    margin-left: 42%;
    margin-right: 42%;
    margin-bottom: 5px;
    border-radius: 4px;
}

.container1 {
    min-width: 100%;
    min-height: 1000px;
    justify-content: center;
    display: flex;
    align-items: stretch;
    padding-top: 300px;
    padding-bottom: 300px;
    padding-left: 200px;
    padding-right: 200px;
}

.intro h1 {
    font-weight: bold;
    text-align: center !important;
}

.intro h1,
.intro p {
    font-family: Monaco;
    color: rgba(245, 245, 245, 0.858);
    align-items: center;
    text-align: center;
}

.intro h6 {
    font-family: Monaco;
    color:rgb(255, 86, 83);
    align-items: center;
    text-align: center;
}

.container2 {
    min-width: 100%;
    min-height: 500px;
    justify-content: center;
    display: flex;
    align-items: stretch;
    padding-top: 300px;
    /* padding-bottom: 50px; */
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 30px;
}

.works h6 {
    font-family: Monaco;
    color: rgba(245, 245, 245, 0.858);
    text-align: center;
}

#worksHeader {
    color: whitesmoke;
    font-family: Monaco;
    font-weight: bold;
    justify-content: center;
    text-align: center;
   
}

.footer {
    margin-top: 300px;
    min-width: 100%;
    position: absolute;
    justify-content: center;
    
    align-items: stretch;
}

.footer p {
    font-family: Monaco;
    color: rgba(245, 245, 245, 0.858);
    text-align: center;
}

.social i {
    margin: 10px;
    color: rgb(255, 86, 83);
}

.glider-contain {
    max-width: 84%;
    margin-left: 8%;
    background-color: rgb(50, 68, 232);
}

.glider-prev i, 
.glider-next i {
    color: rgb(255, 86, 83);
    opacity: 1.0;
}
 .multiple {
     background-color: rgb(50, 68, 232);
 }
#dots {
    color: rgb(8, 8, 8);
}

div.glider {
    margin-left: 30%;
    margin-right: 30%;
}

div.glider img {
    width: 400px;
    height: 300px;
    align-items: center;
}

.glider .card {
    display: flexbox;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: whitesmoke;
    font-family: Monaco;
    border: none;
    /* outline: rgb(50, 68, 232); */
}

.card img {
    margin: 15px;
}

.card a {
    color: rgb(255, 86, 83);
    font-size: 15px;
    font-weight: 700;
    margin-top: 5px;
}