* {
    /* background-color: rgb(50, 68, 232)!important; */
    background-color: rgb(7, 159, 159)!important;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(7, 159, 159);
}

.navbar {
    min-width: 100%;
    background-color: rgb(7, 159, 159);
    height: 80px;
    box-shadow: 2px 2px 12px rgba(213, 213, 213, 0.856);
    padding: 0px 5%;
}

.navLeft {
    float: left;
}

.navRight {
    float: right;
}

.navRight a, 
.navLeft a  {
    font-family: Monaco;
    justify-content: space-between;
    color: rgba(20, 47, 104, 0.87);
    font-size: 15px;
    font-weight: 700;
    margin: 25px;
}

a:hover {
    color: rgb(255, 255, 255) !important;
}

a:active {
    text-decoration: none;
    color: rgb(245, 245, 245);
}

.navbarItem i {
    color: rgba(20, 47, 104, 0.87);
}

.container1 {
    min-width: 100%;
    min-height: 1000px;
    /* justify-content: center;
    display: flex; */
    flex-direction: row;
    align-items: stretch;
    padding-top: 300px;
    padding-bottom: 300px;
    padding-left: 200px;
    padding-right: 200px;
}

#profilePicture {
    display: block;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    max-height: 300px;
    border-radius: 6px;
    box-shadow: 2px 2px 22px rgb(43, 43, 43);
}

.intro h1 {
    font-weight: bold;
    text-align: center !important;
}

.intro h1,
.intro p {
    font-family: Monaco;
    color: rgba(245, 245, 245, 0.858);
    align-items: center;
    text-align: center;
}

.intro h6 {
    font-family: Monaco;
    color: rgba(20, 47, 104, 0.87);
    align-items: center;
    text-align: center;
}

.contentRow p {
    margin-top: 30px;
    margin-right: 20%;
    margin-left: 20%;
}

.container2 {
    min-width: 100%;
    min-height: 400px;
    justify-content: center;
    display: flex;
    align-items: stretch;
    padding-top: 150px;
    /* padding-bottom: 50px; */
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 1px;
}

.works h1 {
    font-family: Monaco;
    color: rgba(245, 245, 245, 0.858);
    text-align: center;
}

#worksHeader {
    /* color: whitesmoke; */
    color: rgba(20, 47, 104, 0.87);
    font-family: Monaco;
    font-weight: bold;
    justify-content: center;
    text-align: center;
   
}

.glider-contain {
    max-width: 84%;
    margin-left: 8%;
    background-color: rgb(7, 159, 159);
}

.glider-prev i, 
.glider-next i {
    /* color: rgb(255, 86, 83); */
    opacity: 1.0;
    color: rgba(20, 47, 104, 0.87);
}

.multiple {
     background-color: rgb(7, 159, 159);
}

/* .dots {
    color: rgb(255, 255, 255);
} */

div.glider {
    margin-left: 30%;
    margin-right: 30%;
}

div.glider img {
    width: 400px;
    height: 300px;
    align-items: center;
}

.glider .card {
    display: flexbox;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: whitesmoke;
    font-family: Monaco;
    border: none;
}

.card img {
    margin: 15px;
    border-radius: 6px;
}

.card a {
    /* color: rgb(255, 86, 83); */
    color: rgba(20, 47, 104, 0.87);
    font-size: 15px;
    font-weight: 700;
    margin-top: 5px;
}

.footer {
    margin-top: 300px;
    min-width: 100%;
    position: absolute;
    justify-content: center;
    
    align-items: stretch;
}

.footer p {
    font-family: Monaco;
    color: rgba(245, 245, 245, 0.858);
    text-align: center;
}

.social i {
    margin: 10px;
    color: rgba(20, 47, 104, 0.87);
    /* color: rgb(255, 86, 83); */
}